@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  /* Primary */

  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
  );

  /* Light Theme */

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --Font-size: 18px;
}

body[thema="dark"] {
  background: var(--Very-Dark-Blue);
}

body[thema="dark"] .wrapper {
  background-image: url("../images/bg-desktop-dark.jpg");
}

body[thema="dark"] .todo-body form,
body[thema="dark"] .todo-lists {
  background: var(--Very-Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}

body[thema="dark"] input {
  color: var(--Very-Light-Grayish-Blue) !important;
}

body[thema="dark"] .todo-body #btn-submit {
  color: var(--Very-Dark-Desaturated-Blue);
}

body[thema="dark"] .notification .toast,
body[thema="dark"] .lists-filter {
  background: var(--Very-Dark-Desaturated-Blue);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

p {
  margin: 0px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-desktop-light.jpg");
  background-size: 100% 40%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-dark {
  width: 25px;
  height: 25px;
  background-image: url("../images/icon-moon.svg");
  background-size: cover;
}

body[thema="dark"] #toggle-dark {
  background-image: url("../images/icon-sun.svg");
}

.footer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--Dark-Grayish-Blue);
  width: 100%;
  text-align: center;
}

.todo {
  width: 600px;
  /* transform: translateY(-150px); */
}

.todo .todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header h1 {
  color: var(--Very-Light-Gray);
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

.todo-body form {
  background: #fff;
  border-radius: 3px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-body #input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: var(--Font-size);
  color: var(--Dark-Grayish-Blue);
  font-family: "Josefin Sans", sans-serif;
  background: transparent;
}

.todo-body #btn-submit {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  color: var(--Very-Light-Gray);
  border: 0;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-lists {
  position: relative;
  border-radius: 3px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lists {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 300px;
  overflow: hidden auto;
}

.no-item {
  padding: 20px;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
  display: none;
}

.lists:empty + .no-item {
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.lists-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
  padding: 15px 20px;
}

.lists-footer .active {
  color: var(--Bright-Blue);
}

.list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.list-item.delete {
  display: none;
}

.list-item div {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.list-item span {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.list-item .remove {
  cursor: pointer;
  display: none;
}

.list-item:not(.compileted):hover .remove {
  display: block;
}

body[thema="dark"] .list-item:not(.compileted):hover .remove {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
    brightness(119%) contrast(115%);
}

.compileted .remove {
  display: none;
}

.lists-footer {
  font-size: 14px !important;
}

.lists-filter {
  display: flex;
  gap: 15px;
}

.check {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background: transparent;
  border: 1px solid var(--Light-Grayish-Blue);
  position: relative;
  cursor: pointer;
}

.check img {
  visibility: hidden;
}

.recycle-btn {
  display: none;
  cursor: pointer;
  width: 20px;
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
  brightness(119%) contrast(115%);
}

.compileted-btn {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compileted-btn img {
  visibility: visible;
}

.compileted-btn::after {
  position: absolute;
  background-image: url("../images/icon-check.svg");
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.compileted-btn ~ span {
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}

a {
  cursor: pointer;
}

@media (max-width: 700px) {
  .wrapper {
    background-size: auto 40%;
  }
  .todo {
    width: 90%;
    margin-bottom: 100px;
  }

  .lists-filter {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .footer {
    font-size: 14px;
  }
}

.notification {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100000;

  max-width: 250px;
  width: -webkit-fill-available;
}

.notification .toast {
  background: #fff;
}

.notification-item {
  position: relative;
  padding: 10px 10px 15px 10px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    hsl(192, 100%, 67%) 0%,
    hsl(192, 100%, 67%) 35%,
    hsl(280, 87%, 65%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 600;
  transition: all 1s ease;
  /* width: 100%; */
  /* max-width: 250px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-item .text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 88%;
}

.notification-item span {
  font-weight: 700;
  text-align: end;
  width: 100%;
}

.notification-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--width, 0%);
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    90deg,
    hsl(192, 100%, 67%) 0%,
    hsl(192, 100%, 67%) 35%,
    hsl(280, 87%, 65%) 100%
  );
  transition: all 1s ease;
}
